$primary:#0089D6;
$primary-light:#b7d5d4b8;
$primary-gradient:linear-gradient(90deg, #00BAAF 0.41%, #0089D6 100.58%);
$bg-gradient:linear-gradient(180deg, rgba(218,233,255,1) 0%, rgba(218,255,246,1) 45%, rgba(255,255,255,1) 100%);
$gray-100:#F2F2F2;
$gray-600:#2B2B2B;